streamlit
opencv-python-headless
ultralytics
torch  
easyocr
google-cloud-translate
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Pillow
numpy
deep-translator
python-docx
pi-heif
