streamlit
# Force CPU-only to stay under memory limits
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Computer Vision
ultralytics
easyocr
opencv-python-headless
Pillow
numpy
pi-heif

# Google & Document Tools
google-cloud-translate
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
deep-translator
python-docx
